<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Password_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Password_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="C1user" connectionString="Server=3JS0082\JUSTINSQLEXPRESS;Database=master;User ID=admin;Password=nimda;"
      providerName="System.Data.SqlClient" />
    <add name="Password_Manager.Properties.Settings.masterConnectionString"
      connectionString="Data Source=3JS0082\justinsqlexpress;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Password_Manager.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Remme" serializeAs="String">
                <value />
            </setting>
        </Password_Manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Password_Manager.Properties.Settings>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
        </Password_Manager.Properties.Settings>
    </applicationSettings>
</configuration>